.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

.icon-container_moon{
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-top: 1px;
}
.icon-container_sun{
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-top: 1px;
}

.titel_stepper{
  font-size: x-large;
  font-weight: bold;
}

#background-card {
  margin: 0 auto;
  max-width: 100%;
  background-size: cover;
  background-repeat: repeat;

}



#div1{
  height: 100%;
  width: 100%;
}

#div2{
  height: 100%;
  width: 100%;
  padding-right: 2%;
}

.my-image_tab2{
  width:90%;
  height:90%;
}

#div3{
  height: 100%;
  width: 100%;
  padding-right: 2%;
}

.container_tabs1, .container_tabs2, .container_tabs3{
  display:flex;
  justify-content: space-between;
}

.my-image {
  width: 31%;
  height: 31%
}

.front-card-cv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_api {
  display: flex;
  flex-direction: row;

}

#front-card-left, #front-card-right {
  flex: 1;
  margin: 10px;
}

#entry{
  width: auto;
  height: auto;
}

.job_design{
  padding-top: 2%;
  font-size: x-large;
  display:block;
  height: auto;
  width: 100%;
}

.describtion_design{
  padding-top: 10px;
  font-weight: lighter;
  height: auto;
  width: 90%;
  color:black;
}
.tasks{
  list-style: disc;
  overflow-wrap: break-word;
}

.skills_titel{
  font-size: x-large;
  font-weight: bold;
}

.skills_definition{
  padding-top: 1%;
  font-size: large;

}

#mat-list{
  height: auto;
  width: auto;
}

#dadjokes{
  width: 25%;
  padding-top: 15px;
}

#rickandmorty{
  width: 25%;
  padding-top: 15px;
}

#crypto{
  width: 25%;
  padding-top: 15px;
}

.container_dadjoke{
  border: 5px dashed black;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.joke{
  font-family: Dialog;
  text-align: center;
  font-size: large;
}
.smile{
  height: 10%;
  width: 10%;
}
.container_rickmorty{
  border: 5px dashed black;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container_crypto{
  border: 5px dashed black;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container_book{
  border: 5px dashed black;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

  .alt_book{
    height: 30%;
    width: 30%;

}

.imgRM{
  width: 50%;
  height: 50%;
}

.dark-mode {
  .job_design,
  .describtion_design,
  .titel_stepper,
  .container_tabs1,
  .container_tabs2,
  .container_tabs3,
  .container_book,
  .container_crypto,
  .container_dadjoke,
  .container_rickmorty {
    color: white;
  }
  .container_book,
  .container_crypto,
  .container_dadjoke,
  .container_rickmorty{
    border: 5px dashed white;
  }

}
.light-mode {
  .job_design,
  .describtion_design,
  .titel_stepper,
  .container_tabs1,
  .container_tabs2,
  .container_tabs3,
  .container_book,
  .container_crypto,
  .container_dadjoke,
  .container_rickmorty {
    color: black;
  }
  .container_book,
  .container_crypto,
  .container_dadjoke,
  .container_rickmorty{
    border: 5px dashed black;
  }
}
@media screen and (max-width: 600px) {
  .front-card-cv {
    flex-direction: column;
  }

  #front-card-left, #front-card-right  {
    width: auto;
  }

  .my-image {
    width: 100%;
    height: auto;
  }
  .container_api {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100%;
  }
  .mat-card {
    margin: 10px 0;
  }

  #book, #dadjokes,#rickandmorty, #crypto {
    width: auto;
  }

  .container_tabs2 > #div1,
  .container_tabs2 > #div3 {
    display: none;
  }

  .container_tabs3 > #div1,
  .container_tabs3 > #div2 {
    display: none;
  }

}
