.toolbar {
  display: flex;
  justify-content: space-between;

}

.spacer {
  flex-grow: 1;
}

.icon-container_moon{
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-top: 1px;
}
.icon-container_sun{
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-top: 1px;
}

.titel_stepper{
  font-size: x-large;
  font-weight: bold;
}

#background-card {
  margin: 0 auto;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: repeat;

}

.front-card-cv {
  display: flex;
  flex-direction: row; /* Ändern Sie die Flex-Richtung von der Standardoption "column" auf "row" */
  justify-content: space-between; /* Fügt Abstand zwischen den Karten hinzu */
}

#front-card-left, #front-card-right {
  flex: 1; /* Verteilt den verfügbaren Platz gleichmäßig zwischen den beiden Karten */
  margin: 10px; /* Fügt einen Abstand zwischen den Karten hinzu */
}

.job_design{
  padding-top: 2%;
  font-size: x-large;
  display:block;
  height: auto;
  width: 100%;
}

.describtion_design{
  padding-top: 10px;
  font-weight: lighter;
  height: auto;
  width: 90%;
  color:black;
}
.tasks{
  list-style: disc;
  overflow-wrap: break-word;
}

.skills_titel{
  font-size: x-large;
  font-weight: bold;
}

.skills_definition{
  padding-top: 1%;
  font-size: large;

}


#mat-list{
  height: auto;
  width: auto;
}
